# dependencies
/node_modules

# build output
/build

# configuration files
/.env
/.env.*.local

# log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.vscode/
.idea/
*.swp
*.swo

# npm package lock files
package-lock.json
yarn.lock

# coverage reports
/coverage

# dotenv environment variables file
.env

# next.js build output
.next/

# dist folder
/dist/

# yarn integrity file
.yarn-integrity
